<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cfx.tools.copy_paste_remote_helper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <cfx.tools.copy_paste_remote_helper.Properties.Settings>
            <setting name="ClipboardFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="AhkOutputFilePath" serializeAs="String">
                <value />
            </setting>
            <setting name="Hotkey" serializeAs="String">
                <value>!+v</value>
            </setting>
        </cfx.tools.copy_paste_remote_helper.Properties.Settings>
    </userSettings>
</configuration>